/* LoginPage.css */
.login-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  
  
  .form-group {
    text-align: center;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #login {
    width: 90%;
    padding: 15px;
    background-color: #15395d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #login:hover {
    background-color: #005bab;
    zoom: 110%;
  }
  